<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <!-- Defination for texteditor bean -->
    
    <!-- which autowire attribute is  set to byName in the XML Configuration -->
    
    <bean id="textEditor" class="com.xyz.TextEditor" autowire="byName">
      <property name="name" value="NormalText"></property>
    </bean>
       <bean id="spellChecker" class="com.xyz.SpellChecker"></bean>
    
    </beans>